body {
    
  background-image: url(https://drive.google.com/uc?id=1s5oVxECNPX5cMtgvmWJ5fE8Fa5UYYnqx);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
    
  }

  nav {
      background-color: lightblue;
      border: 1px solid lightgray;
      z-index: 1;
    }
  
    .navbar {
        position: fixed;
        width: 100%;
        padding: -5px;
        
    }
  
  .navbar-nav {
        margin:0 auto;
    } 
  
  .was-validated {
    text-align: center;
    padding-top: 90px;
    text-align: center;
    
  } 

  .form-select {
      display: inline;
      color: lightslategray;
      width: 250px;
      background-color: transparent;
      margin: 2px; 
  }

  .form-control {
     display: inline;
     width: 50%;
     margin-top: 30px;
     background-color: transparent;
     border: 2px solid gray;
      
  }

textarea.form-control {
     min-height: calc(10em + .75rem + 2px); 
  }
 
  .form-control.is-invalid, .was-validated .form-control:invalid {
      border: 2px solid gray;
      background-color: transparent;
      
  }

  .form-select.is-invalid, .was-validated .form-select:invalid {
     border: 2px solid gray;
  }

  .form-control.is-valid, .was-validated .form-control:valid {
     border: 2px solid gray;
     background-color: transparent;
  }

/* personal info */

  .personal {
      display: inline-block;
      width: 90%;
  }

  .col-md-4 {
      width: 100%;
      margin-bottom: 20px;
  }

  .col-md-6 {
    width: 100%;
  }
.col-12 {
    padding-top: 90px;
}

  
  .foot {
    text-align: center; 
    background-color: #CDF2FD;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
    
}

@media only screen and (max-width: 472px) {
    
    .form-select {
        width: 80%;
        
    }

    .personal .col-md-4 {
        align-content: center;
        width: 80%;
        margin: 0 0 0 10%;
    }
    .form-control {
        width: 100%;
    }

    /*.personal .placeholder {
        min-height: calc(10em + .55rem + 2px);
    }
*/
    select {
        min-width: 10%;
        width: auto;
        
    }

    select:focus {
        min-width: 10%;
        width: auto;
        
    }

    
}
